/* TODO */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CUERPO*/
body
{
    font-family: 'Kanit', sans-serif;
}

/* HEADER */
header
{
    width: 100%;
    height: 70px;
    background: rgb(2, 3, 71);
    color: #ffffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/*TODOS LOS CONTENEDORES*/
.contenedor
{
    width: 95%;
    margin: auto;
}

/* TITULO WEB */
.titulo :hover{
    cursor: pointer;
    color: black;
   
}
header label {
    float: right;
    cursor: pointer;
}
.titulo a
{
    color: #fff;
    
}
h1
{
    margin-top: 20px;
    font-size: 30px;
    float: left;
}

/* HEADER DEL CONTENEDOR*/
header .contenedor
{
    display: table;
}

/* TODOS */
section
{
    width: 100%;
}

/* CONTENEDOR FOOTER */
footer .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

/* FOOTER COPYRIGHT */
.copyright
{
    font-size: 25px;
}

/* REDES */
.redes
{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

/* ENLACES REDES */
.redes a
{
    text-decoration: none;
}

/*768px*/
@media (min-width: 768px){
    .redes
    {
        width: auto;
    }
    
    footer .contenedor
    {
        justify-content: space-between;
    }
}

/*1024px*/
@media (min-width: 1024px){
    .contenedor
    {
        width: 1000px;
    } 
}

#listarCliente {
    width: 100%;
    justify-content: center;
    position: unset;
    text-shadow: black 7px;
    margin-top: 84px;
    /* height: 100%; */
    text-align: left;
    padding-top: 10%;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    border: black solid 2px;
}
#listarCliente h2{
    margin-right: 400px;
}   
#listarCliente p{
    margin-top: 20px;
}     
#listarOrden {
    width: 100%;
    justify-content: center;
    position: unset;
    text-shadow: black 7px;
    margin-top: 84px;
    /* height: 100%; */
    text-align: left;
    padding-top: 10%;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    border: black solid 2px;
}
#listarOrden h2{
    margin-right: 400px;
}   
#listarOrden p{
    margin-top: 20px;
}     